if TARGET_TENKON

config SYS_CPU
        string
        default "m68k"

config SYS_BOARD
        string
        default "tenkon"

config SYS_VENDOR
        string
        default "tenkon"

config SYS_CONFIG_NAME
        default "tenkon"

config SYS_HAS_SRAM
        default "y"

config SYS_SRAM_BASE
        default "0x00000000"

config SYS_SRAM_SIZE
        default "0x00080000"

endif



